<appSettings>
  <add key="skin" value="" />
  <add key="conStr" value="Server=localhost;User Id=postgres;Password=1234;Database=test;" />
  <add key="ServerHost" value="psGgEZji3bMHjcP5VJpNdw==" />
  <add key="ServerPort" value="x2MWpTKER2A=" />
  <add key="Username" value="X/wuKluTVg2Z6cqR1FXIJQ==" />
  <add key="Password" value="lONOG7u5V/FVuuYvqoY28g==" />
  <add key="Database" value="a05OGW9TC2jn5+rr2UDXZA==" />
  <add key="ServerHost_HSBA" value="psGgEZji3bMCknw5Hh2hyw==" />
  <add key="ServerPort_HSBA" value="x2MWpTKER2A=" />
  <add key="Username_HSBA" value="X/wuKluTVg2Z6cqR1FXIJQ==" />
  <add key="Password_HSBA" value="cuzAwUWaM1mZ6cqR1FXIJQ==" />
  <add key="Database_HSBA" value="/ZYDRlqL872aDuRTbdQQPg9R2cLy3bTo" />
  <add key="checkEditNhoPass" value="True" />
  <add key="LoginUser" value="XF2F+LPsxTw=" />
  <add key="LoginPassword" value="E36w19IK+gaPIT7K1d/6sw==" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>