<appSettings>
  <add key="skin" value="" />
  <add key="conStr" value="Server=localhost;User Id=postgres;Password=1234;Database=test;" />
  <add key="ServerHost" value="wHTH8UEtpJ8DB2dSFCJlWQ==" />
  <add key="ServerPort" value="x2MWpTKER2A=" />
  <add key="Username" value="X/wuKluTVg2Z6cqR1FXIJQ==" />
  <add key="Password" value="VbrmL6qGNvI=" />
  <add key="Database" value="HBSHbUsxLqZNT9jemFTnXw==" />
  <add key="ServerHost_HSBA" value="wHTH8UEtpJ8DB2dSFCJlWQ==" />
  <add key="ServerPort_HSBA" value="x2MWpTKER2A=" />
  <add key="Username_HSBA" value="X/wuKluTVg2Z6cqR1FXIJQ==" />
  <add key="Password_HSBA" value="VbrmL6qGNvI=" />
  <add key="Database_HSBA" value="Q7drmpK9vyHZqLntxCUdUZnpypHUVcgl" />
  <add key="checkEditNhoPass" value="True" />
  <add key="LoginUser" value="KgyxW9jqNcc=" />
  <add key="LoginPassword" value="E36w19IK+gaPIT7K1d/6sw==" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>